// Override default variables before the import
$font-family-base:
"Roboto",
-apple-system,
  // Chrome < 56 for macOS (San Francisco)
  BlinkMacSystemFont,
  // Windows
   "Roboto",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
  
  $theme-colors: (
  "primary": #e4cd65e5,
  "danger": #ff4136
);
//$theme-colors: map-remove($theme-colors, "info", "light", "dark");
$body-bg: #000;
$body-color: #fff;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';


body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}


.img{
  height: 40px;
  width: 40px;
}